:root {
  --background: #0c151d;
  --primary-color: #0a0a23;
  --shadow: #087ec4;
  --text-color: #fff;
  --secondary-text-color: #ccc;
  --header-table: #4a5568;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: var(--text-color) var(--primary-color);
}

body {
  background-color: var(--background);
}

h1 {
  text-align: center;
  color: var(--text-color);
}

nav {
  width: 50%;
  background-color: var(--header-table);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  & ol {
    padding: 10px;

    & a {
      font-size: 20px;
      margin-left: 30px;
      color: var(--primary-color);
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--secondary-text-color);
      }
    }
  }
}

.content {
  width: 100vw;
}

/*.header separated in the component*/

.about-me {
  width: 80vw;
  height: 260px;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin: 0 auto;
}

.about-me h1 {
  color: var(--text-color);
  font-size: 40px;
  margin-bottom: 0;
}

.about-me p {
  color: var(--secondary-text-color);
  font-size: 20px;
  padding: 10px 0;
  text-wrap: balance;
  text-align: center;
}

.icon-external_link {
  width: 30px;
  margin-top: 10px;
  margin-left: 30px;
  display: inline;
}

.about-me {
  margin-bottom: 2em;

& a {
  text-decoration: none;
  color: var(--text-color);
 }
}

.skills-desktop {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & .background-skill {
    width: 200px;
    height: 200px;
    

    & img {
      width: 144px;
      margin-bottom: 0;
      filter: drop-shadow(2px 4px 2px #ccc);
    }

    & p {
      color: var(--text-color);
      font-size: 30px;
      margin-top: 0;
    }
  }
}

.skills-mobile {
  display: none; /*Hide the mobile version*/
}

.proyects {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;

  & h1 {
    color: var(--text-color);
    text-align: center;
  }

  & article {
    width: 500px;
    height: 600px;
    background-color: var(--header-table);
    color: var(--text-color);
    text-align: center;
    border: 10px var(--primary-color) solid;
    border-radius: 15px;

    & img {
      width: 200px;
    }
  }

  & .tecnologies {
    width: 100%;

    & img {
      width: 50px;
    }
  }

  & button {
    width: 30%;
    height: 10%;
    background-color: var(--shadow);
    font-size: 1.2em;

    & a {
      color: var(--secondary-text-color);
      text-decoration: none;
    }

    & img {
      width: 2em;
    }
  }
}

.contact {
  width: 50%;
  height: 600px;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin: 0 auto;
  padding: 15px;
  color: var(--text-color);

  & h2 {
    font-size: 20px;
  }

  & form {
    width: 100%;
    text-align: center;

    & label {
      display: block;
      color: var(--secondary-text-color);
    }

    & input {
      background-color: var(--text-color);
      width: 40%;
      height: 30px;
      margin-top: 10px;

      &:invalid {
        border: 5px red solid;
      }

      &:valid {
        border: 5px green solid;
      }
    }
  }
}

.contact form input[type="email"] {
  width: 80%;
}

.contact form select {
  margin-top: 10px;
  padding: 5px;
}

#mensaje {
  width: 80%;
  height: 100px;
  margin-left: 50px;
  display: block;
}

#mensaje:invalid {
  border: 5px red solid;
}

.contact button {
  width: 100px;
  height: 50px;
  max-height: 50px;
  border-radius: 0;
  margin-top: 30px;
  background-color: var(--shadow);
  color: var(--text-color);
  font-size: 20px;
  transition: hover, 1s;
}

.contact button:hover {
  background-color: var(--primary-color);
}

.icons {
  width: 100%;
  height: 70px;
  background-color: var(--header-table);
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: 30px;

  & img {
    width: 60%;
    &:hover {
      transform: scale(1.2);
    }
  }
}

footer {
  margin-top: 100px;
  width: 100vw;
  height: 700px;
  background-color: var(--header-table);
  padding: 40px 0 40px 0;
}

@media screen and (max-width: 768px) {
  nav {
    width: 100vw;
    display: grid;
    margin-inline: 0;
    margin-block: 20px;
  }

  .content {
    width: 100%;
  }

  .about-me {
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
  }

  .skills-desktop {
    background-color: none;
    display: flex;
    flex-wrap: wrap;

    & .background-skill {
      width: 150px;
      background-color: transparent;

      & img {
        width: 140px;
      }
    }
  }


  .proyects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

    footer {
      width: 100%;
      height: fit-content;
    }

    .contact {
      display: none;
    }

    .contact form {
      width: 100vw;
    }
  }
