.skills-mobile{
    width: 700px;
    height: 100px;
    margin-top: 15px;
    display: flex;
    background-color: var(--primary-color);
    border: 3px var(--secondary-text-color) solid;

}

.skills-mobile img{
    width: 144px;
    height: 100px;
    object-fit: cover;
    animation-name: imageLoop;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.skills-desktop{
    display: none;
}

@keyframes imageLoop {
    from {
      transform: translateX(0%);
    }

    to {
        transform: translateX(-500%);
    }
  }