@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Instrument+Serif&family=Playfair+Display&display=swap');



:root{
    --background: #0C151D;
    --primary-color: #0a0a23;
    --shadow: #087ec4;
    --text-color: #fff;
    --secondary-text-color: #ccc;
    --header-table: #4a5568;
    --nav-item: #ff8e43
}

body{
    background-color: var(--shadow);
    margin: 0;
}

nav{
    width: 100%;
    text-align: center;
}


.content{
    margin: 0 auto !important;
}

.welcome{
    width: 500px;
    height: 620px;
    
}

.about-me{
    width: 520px;
    height: 300px;
}

.icon-external_link{
    width: 0;
}

.about-me a{
    text-decoration: underline;
}

.skills-mobile{
    width: 700px;
    height: 100px;
    margin-top: 15px;
    display: flex;
    background-color: var(--primary-color);
    border: 3px var(--secondary-text-color) solid;

}

.skills-mobile img{
    width: 144px;
    height: 100px;
    object-fit: cover;
    animation-name: imageLoop;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.skills-desktop{
    display: none;
}

@keyframes imageLoop {
    from {
      transform: translateX(0%);
    }

    to {
        transform: translateX(-500%);
    }
  }