@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Instrument+Serif&family=Playfair+Display&display=swap');



:root{
    --background: #0C151D;
    --primary-color: #0a0a23;
    --shadow: #087ec4;
    --text-color: #fff;
    --secondary-text-color: #ccc;
    --header-table: #4a5568;
    --nav-item: #ff8e43
}

body{
    background-color: var(--shadow);
}

nav{
    width: 100%;
    text-align: center;
}

.welcome{
    width: 600px;
    height: 720px;
    margin: 0 auto;
}

.about-me{
    width: 600px;
}

.icon-external_link{
    width: 0;
}

.about-me a{
    text-decoration: underline;
}

.skills-mobile{
    width: 1000px;
    height: 100px;
    margin-top: 15px;
    display: flex;
    background-color: var(--primary-color);
    border: 3px var(--secondary-text-color) solid;

}

.skills-mobile img{
    width: 144px;
    height: 100px;
    object-fit: cover;
}

.skills-desktop{
    display: none;
}

