<section class="text-white flex flex-col justify-center items-center text-center">
    <a href="https://drive.google.com/embeddedfolderview?id=1ORERFa1w6uE6BJiRov7WmZ_mJYwyOf9A#grid" class="text-2xl hover:underline transition-all duration-100">Certificaciones</a>
    <iframe
     class="w-full hidden md:block"
     src="https://drive.google.com/embeddedfolderview?id=1ORERFa1w6uE6BJiRov7WmZ_mJYwyOf9A#grid"></iframe>
</section>