<header class="w-full h-screen flex flex-col justify-center items-center">
    <div class="bg-[#0a0a23] w-full md:w-3/6 h-3/6 shadow-lg shadow-[#087ec4]">
        <div class="flex gap-2 p-3">
            <button class="w-4 h-4 bg-red-600 rounded-full"></button>
            <button class="w-4 h-4 bg-yellow-600 rounded-full"></button>
            <button class="w-4 h-4 bg-green-600 rounded-full"></button>
        </div>

        <div class="h-full text-white text-2xl flex flex-col justify-center items-center">
            <img src="https://media.licdn.com/dms/image/v2/D4D35AQHku8R7M28Ihg/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1723754775499?e=1727992800&v=beta&t=B3tGOqLVAst_yOTen9crhZa1V68EIiLjB2Zyd6Tt-fQ" alt="Ramiro Morales" title="RamiroMoralesdev" class="w-32 rounded-full">
            <h1>Ramiro Morales</h1>
            <h3>Web Developer and Designer</h3>
        </div>

    </div>

</header>

<section class="flex justify-center items-center h-screen">
    <div class="bg-[#0a0a23] w-3/6 h-3/6 shadow-lg shadow-[#087ec4] text-white">
        <div class="flex gap-2 p-3">
            <button class="w-4 h-4 bg-red-600 rounded-full"></button>
            <button class="w-4 h-4 bg-yellow-600 rounded-full"></button>
            <button class="w-4 h-4 bg-green-600 rounded-full"></button>
        </div>

        <div class="flex flex-col justify-center items-center text-balance">
            <h1 class="text-2xl">SOBRE MI &hearts;</h1>
            <p class="w-fit md:w-4/5 text-center my-10">
                Cuento con una s칩lida formaci칩n en Desarrollo web y Dise침o Grafico, lo que me permite crear interfaces web modernas, funcionales y optimizadas para diferentes dispositivos lo que me capacita para desarrollar y gestionar sitios web din치micos y adaptables a las necesidades del cliente.
            </p>

            <h4>Si lo puedes imaginar, lo puedes programar</h4>
        </div>

    </div>
</section>
